* {
  font-family: 'CaviarDreams', cursive;
}

@font-face {
  font-family: 'Supersonic Rocketship';
  src: url('/fonts/Supersonic Rocketship.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreams';
  src: url('/fonts/CaviarDreams.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreams';
  src: url('/fonts/CaviarDreams_Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CaviarDreams';
  src: url('/fonts/CaviarDreams_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreams';
  src: url('/fonts/CaviarDreams_BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}